@font-face{
    font-family: requiredFont;
    src:url(logo.tiff);
}
body{
    background-color: #f4efe2;
    font-family: requiredFont;
}
hr{
    background-color: red;
    color: red !important;
}
.top-div{
    background-color: red;
    border-bottom: 1px solid #333333;
}
.title-div{
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 8px;
    padding-bottom: 8px;

    color:#666666;
}
.additionalHeader{
    border-bottom: 8px solid #333333;
    margin-left: 0px;
    padding-left: 0px;
    min-height: 125px;
    padding-right: 0px;
}
.title-div-main{
    /*background-color: yellow;*/
    min-height: 125px;
    border-bottom: 1px solid #999999;
}
.smallBtn:hover{
    color: white;
}
.showall{
    background-color:#eae9e9;
    width:25%;
    margin-left: 0px;
    border-top-left-radius:6px;   
    border-top-right-radius:6px;
    font-size: 12px;
    padding-top:3px;

    max-height: 18px;
}
.sa{
    color:#999999;
    width:75%;
    margin-left: 0px;
    border-top-left-radius:6px;   
    border-top-right-radius:6px;
    font-size: 12px;
    padding-top:3px;
    padding-bottom:10px;
    max-height: 18px;

}
.textGray{
    color:#999999;
}
.logos{
    background-image: url('logo.png');
    background-repeat: no-repeat;
    height: 100%;
    background-color: green;
}
.cart-info{
    background-color:#eae9e9;
    border-radius: 5px;
    vertical-align: middle;
    line-height: normal;
    text-align: center;

}
.show-me{
    background-color:#eae9e9;
    /*width: 31.5%;*/
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
}

.bottle-image{
    /*border-bottom: 8px solid ;*/

}
.img-below-bottle{
    background: url(../images/c_b.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    opacity: 0.6;
}
.show-me .btn{
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 27%;
    float: left;
}
.show-me .btn-order{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 22%; 
}
.btn-orderBy{
    background-color: #cccccc;
    width: 27%;
    float: left;
    margin-left: 5px;
    color: black !important;
    text-align: center;
}
.btn-ob{
    width:22%;
    float: left;
    color: black !important;
}
.left-border{
    border-right: 1px solid whitesmoke;
    height:inherit;
}
.td .smallBtn{
    margin-right: 0px;
    float: right;
}
td .btn{
    height: auto;
    padding: auto;
    padding-bottom: 6px;
}
.totals{
    border-bottom: 1px solid whitesmoke;
}
.totalValue{
    margin-top: 10px;
    padding: 0px;
}

.ec{

}
.smallBtn{
    font-size: 10px; 
    padding: 6px;
    color:white;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 3px;
}
.borderBottom{
    border-bottom: 1px dotted #999999;
}
.items{
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 0px;
    /*max-height: 300px;*/
    min-height: 300px;
    overflow-y: auto;

}
.checkOut{
    background-color: green;
}
.has-error{
    background-color: #fde0dc;
    border-color: #f69988 !important;
}

.ec{
    background-color: #cccccc;

}
.co{
    background-color: #333333;
}
.addTocart{
    background-color: orange;
}
.item-div img{
    max-height:200px; 
    box-shadow: 0px 0px 0px #000000;
    z-index: 150;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
.heading-title{
    font-size: 40px;
    color:#999999;
    margin-bottom: 0px;
    padding: 0px;
    max-height:42px;
}
.para{
    color: #cccccc;
    font-size: 16px; 
    padding: 0px;
    margin-top: 0px;
}
.parax{
    color:#999999;
    font-size: 16px; 
    padding: 0px;
    margin-top: 0px;
}
.paraqty{
    color: #cccccc;
    font-size: 14px; 
    padding-right: 4px;

    /*margin-top: 0px;*/
}
.bottle-title,heading-title{
    min-height: 110px;
    padding: 0px;
    margin: 0px;
}
.bottle{

    /*    background-color: green;*/
    padding-left: 2px; 
    margin: 0px;
}
.bottleleft{
    border-right:1px dotted darkgrey;
    /*    background-color: green;*/
    padding-left: 2px; 
    margin: 0px;
}
.bottleright{
    padding-left: 10px !important;
}

.bottleDetails{
    margin-top: 20px;
    padding: 0px;
}
.inputQty{
    width: 20px;
    height: 20px;
}

/*.img-center {*/
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 80%;*/
/*}*/


