<div class="col-md-12 ">
    <div ng-init="data.customerDet = 'cart'" class="well" ng-show="data.customerDet == 'cart'">
        <h3 class="">
            Check Out
            <div class="pull-right smallBtn ec" ng-click="data.showDiv = 'shop'">Continue Shopping >>></div>
        </h3>

        <table class="table ">
            <thead>
            <tr>
                <th>#</th><th>Item Name</th>
                <th>Quantity</th><th>Price</th>
                <th>Total</th><th>Package</th>
            </tr>
            </thead>
            <tr ng-repeat="cart in data.cart">
                <td>{{$index + 1}}</td>
                <td>{{cart.productName}}</td>
                <td>{{cart.qty}}</td>
                <td>${{cart.price}}</td>
                <td>${{cart.total}}</td>
                <td>{{cart.type}}<b ng-show="cart.type == 'case'"> ({{cart.qty / 12}})</b></td>
                <td><button class="btn btn-sm btn-danger" ng-click="data.removeItem($index)">Remove</button></td>
            </tr>
        </table>
        <div class="col-md-12">
            <hr>
            <h3 class="text-right">Total : ${{data.cartTotal}}</h3>

        </div>
        <div class="col-md-8 text-center col-md-offset-2">
            <div class="btn btn-danger col-md-5">
                Cancel
            </div>
            <div class="btn  col-md-2">

            </div>
            <div class="btn btn-warning col-md-5" ng-disabled="data.cartTotal < 1"
                 ng-click="data.changeCustomerDet('customer')">
                Proceed
            </div>
        </div>
    </div>
</div>