<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-xs-12 col-sm-12" ng-init="data.showDiv = 'shop'">

    <!------------------main apge header----------------------->
    <div class="title-div-main">
        <div class="col-lg-2 col-md-2 row  col-xs-12 img-responsive pull-left">
            <img src="images/logo.png" height="" style="padding-bottom: 10px;height:130px;width:100%"
                 class="pull-right col-md-10 img-responsive"/>
        </div>
        <div class="col-lg-10 col-md-10 col-xs-12 additionalHeader">
            <div class="col-lg-3 col-md-3  col-xs-12  text-left" style="padding-left: 0px;">
                <div class="title-div">The People</div>
                <div class="title-div-pg">Quality not quantity,an adage we have lived for more than 30 years</div>
            </div>
            <div class="col-lg-3 col-md-3  col-xs-12 textGray">
                <div class="title-div textGray">The Shop</div>
                <div class="title-div-pg">Buy our award winning wines online,read the tasting and technical notes</div>
            </div>
            <div class="col-lg-3 col-md-3  col-xs-12">
                <div class="title-div">The News</div>
                <div class="title-div-pg">Latest happening from the winnery and our wine club</div>
            </div>
            <div class="col-lg-3 col-md-3  col-xs-12 text-left" style="padding-right: 0px;">
                <div class="title-div">Visit Us</div>
                <div class="title-div-pg">Our Award winning native garden, artist resident and cellar door</div>
            </div>
        </div>
    </div>
    <!------------------!END----------------------->
    <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-xs-12 col-sm-12">
        <i class="fa fa-flag"></i> For US customers please click here to order wine online
    </div>
    <div class="col-lg-2 col-lg-offset-10 col-md-2 col-md-offset-10 title-div text-left" style="padding-left: 0px;">
        The Club
    </div>
    <!---------------------------------------->

    <div class="" ng-show="data.showDiv == 'shop'">
        <div class="middle-div">
            <div class="col-md-12" style="padding: 0px;">
                <div class="col-md-4" style="padding: 0px;">
                    <div class="pull-left showall text-center"><p>Show me</p></div>
                    <div class="sa text-right pull-right"><p>
                        <a href="" class="" ng-click="data.filter=''" style="color:lightslategrey"> Show all</a>
                    </p></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 show-me pull-left col-xs-12 col-sm-12">

                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="smallBtn btn-orderBy " ng-click="data.filterWines('white')">white</div>
                    <div class="smallBtn btn-orderBy" ng-click="data.filterWines('red')">Red</div>
                    <div class="smallBtn btn-orderBy" ng-click="data.orderBy('price')">Price</div>
                    <div class="smallBtn btn-ob" ng-click="">Order By</div>
                    <div class="smallBtn btn-orderBy" ng-click="data.orderBy('sparkling')">Sparking</div>
                    <div class="smallBtn btn-orderBy" ng-click="data.orderBy('vintage')">Vintage</div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 row cart-info vcenter pull-right col-xs-12 col-sm-12">
                <div class="col-md-3 left-border col-xs-12 col-sm-12">
                    <div class="clear">&nbsp;</div>
                    <p class="bottom-head"> Delivery Info</p>
                </div>
                <div class="col-md-3 left-border col-xs-12 col-sm-12">
                    <h2><b>{{data.cartBottles}}</b></h2>Bottles
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <div class="totalValue">
                        <div ng-show="data.cartTotal <= 0">
                            <h3><i class="fa fa-shopping-cart"></i> Cart(0)</h3>
                        </div>
                        <table style="padding-right: 0px;">
                            <tr ng-repeat="cart in data.cart">
                                <td class="col-md-10 totals text-left" width="85%">
                                    {{cart.qty}} x {{cart.productName}} -{{cart.type}}
                                </td>
                                <td>
                                    <a href="#" target="_self" ng-click="data.removeItem($index)">
                                        <i class="fa fa-remove" style="color:gray"></i></a>
                                </td>
                                <td class=" pull-right">
                                    <div ng-show="($index + 1) == data.cart.length" class="smallBtn ec pull-right"
                                         ng-click="data.emptyCart()">EmptyCart
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="data.cartTotal > 0">
                                <td class="col-md-9 totals text-left" colspan="2">Total <font color="red">
                                    ${{data.cartTotal.toLocaleString('en')}}</font></td>
                                <td class=" pull-right" nowrap>
                                    <div class="smallBtn co pull-right" ng-click="data.showDiv = 'checkout'">Check Out
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="clearfix">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12" ng-init="data.getProducts()">
            <div class="col-md-4 {{data.returnClassBorder($index + 1)}} items col-xs-12 col-sm-12"
                 ng-repeat="items in data.products| orderBy : data.sort | filter : data.filter">
                <div class="col-lg-12 item-div">
                    <div class="col-md-4 col-xs-12 col-sm-4 text-center bottle-image" style="padding-right: 30px;">
                        <img src="{{items.imageUrl}}" class="">
                        <div class="col-md-12 img-below-bottle">

                        </div>
                    </div>
                    <div class="col-md-8 rightSide col-xs-12 col-sm-8">
                        <div class="col-md-12 bottle-title ">
                            <div class="heading-title col-md-12 text-left">{{items.vintage}}</div>
                            <div class="para col-md-12 text-left">{{items.productName}}</div>
                        </div>
                        <div class="col-md-12 bottleDetails">

                            <div class="col-md-6 pull-left bottleleft bottle col-xs-6 col-sm-6">
                                <span class="para">Bottle <b class="parax">${{items.price}}</b></span>

                                <div class="col-md-12" style="margin-left: 0px;padding:0px;">
                                    <div class="col-md-1 pull-left" style="padding: 0px;margin-right: 3px; ">
                                        <input type="text" class="inputQty" ng-model="items.itemPieceQty"></div>
                                    <div class="col-md-9 pull-right paraqty col-xs-6 col-sm-6">QTY</div>
                                </div>
                            </div>
                            <div class="col-md-6 pull-left bottleright bottle col-xs-6 col-sm-6">
                                <span class="para">Case <b class="parax">${{items.casePrice}}</b></span>

                                <div class="col-md-12" style="margin-left: 0px;padding:0px;">
                                    <div class="col-md-2 pull-left" style="padding: 0px;margin: 0px; ">
                                        <input type="text" ng-model="items.itemCaseQty" class="inputQty">
                                    </div>
                                    <div class="col-md-8 text-right paraqty">QTY</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="col-md-4 col-xs-12 col-sm-4">

                    </div>
                    <div class="col-md-8 addCt">
                        <div class="smallBtn btn col-xs-12 col-sm-12 btn-block  pull-left ec pull-right"
                             data-toggle="modal" data-target="#myModal" ng-click="data.generateClickedWine(items)"
                             style="width:48%">
                            Details
                        </div>


                        <div class="smallBtn btn col-xs-12 col-sm-12 btn-xs addTocart  pull-right" style="width:48%"
                             ng-disabled="!items.itemCaseQty > 0 && !items.itemPieceQty > 0"
                             ng-click="data.addToCart(items)">
                            <span ng-show="!data.returnIfAdded(items.id)">Add to cart</span>
                            <span ng-show="data.returnIfAdded(items.id)">Added</span>
                        </div>

    <!------------------!END----------------------->


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12" ng-show="data.showDiv == 'checkout'">
        <div ng-include="'partialViews/checkout.html'"></div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: lightslategrey;color: white;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{data.clickedWine.productName}} Details</h4>
                </div>
                <div class="modal-body" style="min-height: 300px;">
                    <div class="col-md-5 text-center img" >
                        <img src="{{data.clickedWine.imageUrl}}" style="max-height: 300px;" class="img-responsive">
                        <br>
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="heading-title text-left">
                            {{data.clickedWine.vintage}} Years
                        </div>

                        <div class="h3 col-md-12 text-left row" style="color: lightslategrey">{{data.clickedWine.productName}}</div>
                        <div class="col-md-12 row"><span class="para"> <b>{{data.clickedWine.color}} wine</b> </span></div>


                        <div class="col-md-12 row"><span class="para">Bottle</span><b class="parax">${{data.clickedWine.price}}</b></div>
                        <div class="col-md-12 row"><span class="para">Case</span><b class="parax">${{data.clickedWine.casePrice}}</b></div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>